body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #2e7d32;
  color: white;
  padding: 15px;
  text-align: center;
}
.l2,.l1{
  display: inline;
}
.l2{
    flex: 1;
}
nav{
    display: flex;
    justify-content:space-between;
}

#logoutBtn {
  margin-left: 10px;
  padding: 6px 12px;
  background: #c62828;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
#registerLink{
    padding: 10px;
    border: solid black 1px;
    background-color: rgb(0, 255, 64);
    color: black;
    border-radius: 5px;
}
.hero {
  padding: 20px;
  text-align: center;
  background: #e8f5e9;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

form {
  max-width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

input, button {
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
}
#searchInput{
    flex: 1;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid black;
    margin:14px 20px;
}
.search-bar{
    display: flex;
    justify-content: center;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  display: none;
  z-index: 1000;
}

.cookie-banner button {
  margin-left: 10px;
  padding: 8px 15px;
  background: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
}
